@model PagedList.IPagedList<Sorting_Filtering_Paging.Models.Estudiante>
@using PagedList.Mvc;
@using Sorting_Filtering_Paging.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Estudiantes";
}

<h2>Estudiantes</h2>


@using (Html.BeginForm())
{
    <p>
        Encontrar por: @Html.DropDownList("BuscarPor",
                     new SelectList(Enum.GetValues(typeof(BuscarPor))),"----Buscar Por----", new { @id = "selectTipo", @class = "form-control"}) 
        <br> @Html.TextBox("buscar", ViewBag.currentFilter as String, new { @id = "txtBuscar", @class = "form-control" }) <br>
        <input type="submit" value="Buscar" id="btnBuscar"  class="btn-primary" />
    </p>

}
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table" id="tblEstudiantes">
    <tr>
        <th>
            @Html.ActionLink("Nombre Estudiante", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter= ViewBag.currentFilter})
        </th>
        <th>
            @Html.ActionLink("Apellido Estudiante", "Index", new { sortOrder = ViewBag.ApellidoSortParm, currentFilter = ViewBag.currentFilter})
        </th>
        <th>
            Correo Estudiante
        </th>
        <th>
            @Html.ActionLink("Edad Estudiante", "Index", new { sortOrder = ViewBag.EdadSortParm, currentFilter = ViewBag.currentFilter})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidosEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edadEstudiante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.estudianteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.estudianteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.estudianteID })
        </td>
    </tr>
}

</table>
</br>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.currentSort, currentFilter = ViewBag.currentFilter}))


<script type="text/javascript">
    $(document).ready(function () {

        if ($("#selectTipo").val() === "") {
            $("#txtBuscar").hide();
            $("#btnBuscar").hide();
        }
        else {
            $("#txtBuscar").show();
            $("#btnBuscar").show();
        }


        $("#selectTipo").change(function () {

            $("#txtBuscar").val("");
            $("#btnBuscar").click();

        });
        
    });
</script>
